<footer class="footer">
    <div class="container">
        <div class="big-screen">
            <div class="links">
                <button routerLink="home-page">main</button>
                <button routerLink="map-page">map</button>
                <button routerLink="contact-page">contact</button>
            </div>
            <div class="smalltext">
                <div class="left">Wykonanie: Imie nazwisko</div>
                <div class="right">copyrights ©2022 </div>
            </div>
        </div>
        <div class="phone-screen">
            <ul>
                <li routerLink="home-page">Main</li>
                <li routerLink="map-page">Map</li>
                <li routerLink="contact-page">Contact</li>
            </ul>
            <div class="smalltext">
                <div class="left">Wykonanie: Imie nazwisko</div>
                <div class="right">copyrights ©2022 </div>
            </div>
        </div>
    </div>
</footer>