<container-element [ngSwitch]="data.type" class="popup">
  <div *ngSwitchCase="'map'" class="map-popup">
    <app-download-pdf-map></app-download-pdf-map>
    
  </div>

  <div *ngSwitchCase="'welcome'" class="welcome-popup">
    <h2 mat-dialog-title>Welcome</h2>

    <!--         <button mat-button (click)="onNoClick()" cdkFocusInitial> Thank you! </button>-->
  </div>
  <div *ngSwitchCase="'collaborators'" class="collaborator-popup">
    
    <app-collaborators-list></app-collaborators-list>

  </div>
  <div *ngSwitchCase="'add-collaborator'" class="collaborator-popup">
    <app-add-collaborator></app-add-collaborator>
    
  </div>

  <div *ngSwitchDefault>
    <p>default</p>
  </div>
</container-element>
