





.map-popup {
  display: grid;
  width: 592px;
}

.welcome-popup {
  display: grid;
  justify-items: center;
}

.select-options {
  display: flex;
  width: 100%;
}

.list-collaborator-popup {
  display: grid;
  width: 592px;
}

.add-collaborator-popup {
  display: grid;
  width: 592px;
}
