<div class="contact">
  <div class="container">
    <p>
      <b>Lorem ipsum sp. z o.o.</b> <br /><br /><br /><br />
      Lorem ipsum:
      <br /><br />
      Lorem ipsum is placeholder text<br />
      commonly used in the graphic, print,<br />
      and publishing industries for previewing<br />
      layouts and visual mockups.<br />
      <br /><br /><br />
      Lorem ipsum:
      <br /><br />
      Lorem ipsum is placeholder text<br />
      commonly used in the graphic, print,<br />
      and publishing industries for previewing<br />
      layouts and visual mockups.<br />
      <br /><br />
    </p>
  </div>
</div>
