.product {
  border: 4px #457b9d;
  border-radius: 0;
  border-style: solid;
  width: 20vw;
  max-width: 300px;
  min-width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 10px 5px;
}
